# Авиакомпания Россия

## Рабочая зона Лёши

Импорт библиотек

In [1]:
import pandas as pd
import numpy as np

In [2]:
from russiya_airlines_solver import Solver
from russiya_airlines_interface import data_setting

Импорт исходных данных, который мы заслужили. При запуске ячейки должно открыться окно `tkinter` с интуитивным интерфейсом для импорта исходных данных. Данные о связках передаются в формате `XLS`. Данные о книгах передаются в формате `JSON`. Это **ВАЖНО!!!**

In [3]:
data, crew = data_setting()
print('Данные о книгах:\n', crew)
print('\nДанные о связках:\n')
data.head(5)

Данные о книгах:
           1       2       3       4       5       6
ВВЛ  125.54  122.84  129.97  127.26  123.32  130.64
МВЛ  119.88  117.30  124.10  121.51  117.76  124.75
СНГ  122.03  119.41  126.33  123.69  119.87  126.99

Данные о связках:

,День месяца,Время вылета,Связка,Назначение,Тип судна,Тип связи,Налет,Экипаж
0,1,02:55,route 1,city 61,А-320,ВВЛ,10:50,4
1,1,03:55,route 2,city 60,А-320,МВЛ,06:00,4
2,1,04:10,route 3,city 23,А-319,ВВЛ,03:00,3
3,1,04:40,route 4,city 32,А-319,МВЛ,08:35,3
4,1,05:00,route 5,city 8,А-319,ВВЛ,06:15,3

При запуске последовательно откроются два окна `tkinter`. В первом необходимо выбрать алгоритм и сортировку (рекомендуется выбирать A2, S1). Во втором задать веса критериев. По умолчанию все веса равны. Веса автоматически нормируются.

In [4]:
sol = Solver(data, crew) 
print(sol.solve())

Время работы функции:	0.4240 сек

Решение записано в Solver.solutions;
Решение приведённое к формату Expert.xls записано в Solver.formated_solutions;
Спецификации решения сохранены в Solver.specifications;
Идентификатор решения: 1

In [5]:
identificator = 1
print('Значение целевой функции: {:.2f}'.format(Solver.solutions[identificator][0]))
for book in range(len(Solver.solutions[identificator][1])):
    print('Число связок на {}-ом рабочем столе: {}'.format(book, len(Solver.solutions[identificator][1][book])))

Значение целевой функции: 2.95
Число связок на 0-ом рабочем столе: 353
Число связок на 1-ом рабочем столе: 350
Число связок на 2-ом рабочем столе: 360
Число связок на 3-ом рабочем столе: 358
Число связок на 4-ом рабочем столе: 351
Число связок на 5-ом рабочем столе: 363

In [6]:
Solver.formated_solutions[1]

,Связка,Вылет,Тип,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,nan,nan,ВС,СБ,ВС,ПН,ВТ,СР,ЧТ,ПТ,...,СБ,ВС,ПН,ВТ,СР,ЧТ,ПТ,СБ,ВС,ПН
1,route 1,02:55,А-319,NaN,NaN,NaN,3,NaN,2,NaN,...,NaN,NaN,NaN,0,NaN,1,NaN,NaN,NaN,NaN
2,route 1,02:55,А-320,1,4,0,NaN,5,NaN,NaN,...,3,2,5,NaN,4,NaN,NaN,2,5,0
3,route 71,03:10,А-319,NaN,NaN,NaN,NaN,4,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
4,route 71,03:10,А-320,NaN,NaN,1,4,NaN,1,4,...,NaN,NaN,2,5,NaN,2,5,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,route 63,21:25,А-319,2,3,5,1,4,0,1,...,4,3,2,2,1,5,4,3,0,5
105,route 64,21:45,А-319,5,4,5,1,NaN,4,NaN,...,1,2,1,5,NaN,1,NaN,0,3,4
106,route 64,21:45,А-320,NaN,NaN,NaN,NaN,3,NaN,2,...,NaN,NaN,NaN,NaN,2,NaN,0,NaN,NaN,NaN
107,route 65,22:00,А-319,2,1,4,5,3,0,0,...,5,3,5,0,3,3,5,2,0,1
108,route 66,22:45,А-319,0,2,3,2,0,1,3,...,2,0,5,2,5,4,4,3,1,5

## Рабочая зона Сони

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_excel('ID.xls')
data.head()

In [ ]:
solution = pd.read_excel('Expert.xls')
solution.head()

In [ ]:
flight = data.iloc[0]
flight

In [ ]:
night_start = '22:00'
night_end = '6:00'

In [ ]:
start = flight['Время вылета']
duration = flight['Налет']

In [ ]:
def sum_time(start, duration):
    st = list(map(lambda x: int(x), start.split(':')))
    dur = list(map(lambda x: int(x), duration.split(':')))
    a = [st[0] + dur[0],st[1] + dur[1]]
    if a[1]>= 60:
        a[0] += 1
        a[1] -= 60
    if a[0]>=24:
        a[0] -= 24
    return str(a[0])+':'+str(a[1])

In [ ]:
def in_minuts(duration):
    dur  = np.array(list(map(lambda x: int(x), duration.split(':'))))
    return dur[0]*60 + dur[1]

In [ ]:
def in_hours(minuts):
    h = int(minuts // 60)
    m = int(minuts % 60)
    if h < 10:
        h = '0'+ str(h)
    else:
        h = str(h)
    if m < 10:
        m = '0'+ str(m)
    else:
        m = str(m)
    return h + ':' + m

In [ ]:
def find_night_minuts(fligt_time):
    night_h1 = list(map(lambda x: in_minuts(x), ['00:00','06:00']))
    night_h2 = list(map(lambda x: in_minuts(x), ['22:00','23:59']))
    f = list(map(lambda x: in_minuts(x), fligt_time))
    delta = 0

    if f[0] < night_h1[1]:
        if f[1] < night_h1[1]: # весь полёт попал в первую половину ночи
            delta += f[1] - f[0] # Длительность полёта в минутах
        else:
            delta += 6*60 - f[0] 
    elif f[0] > night_h1[1] and f[0] < night_h2[0]:
        if f[1] > night_h1[1] and f[1] < night_h2[0]:
            if f[0] < f[1]:
                delta += 0  #дневное время
            else:
                delta += night_h1[1] + night_h2[1] - night_h2[0] + 1#очень длинный перелёт

        elif f[1] > night_h2[0] and f[1] < night_h2[1]:
            delta += f[1] - night_h2[0] #часть полёта в вечернее время

        elif f[1] > night_h1[0] and f[1] < night_h1[1]:
            delta += f[1] + night_h2[1] - night_h2[0] + 1

    elif f[0] > night_h2[0]:
        if f[1] > night_h2[0] and f[1] < night_h2[1]:
            delta += f[1]-f[0]
        elif f[1] < night_h1[1]: 
            delta += night_h2[1] - f[0] + f[1] + 1
        elif f[1] > night_h1[1] and f[1] < night_h2[0]:
            delta += night_h2[1] - f[0] + night_h1[1] + 1

    return delta

In [ ]:
def night_percent(start, duration): # start и duration 'hh:mm'
    d0 = in_minuts(duration)
    d = in_hours(d0/2)
    t = sum_time(start, d)
    h1 = [start, t]
    t = sum_time(t, '01:30')
    h2 = [t, sum_time(t,d)]
    return (find_night_minuts(h1) + find_night_minuts(h2))/d0

In [ ]:
def is_night_flight(flight):
    start = flight['Время вылета']
    duration = flight['Налет']
    n_pc = night_percent(start, duration)
    if n_pc > 0.5:
        return True
    else:
        return False

In [ ]:
is_night_flight(flight)

Конец файла