# Авиакомпания Россия

## Рабочая зона Лёши

Импорт библиотек

In [1]:
import pandas as pd
import numpy as np

In [4]:
from russiya_airlines_solver import Solver
from russiya_airlines_interface import data_setting

Импорт исходных данных, который мы заслужили. При запуске ячейки должно открыться окно `tkinter` с интуитивным интерфейсом для импорта исходных данных. Данные о связках передаются в формате `XLS`. Данные о книгах передаются в формате `JSON`. Это **ВАЖНО!!!**

In [5]:
data, crew = data_setting()
print('Данные о книгах:\n', crew)
print('\nДанные о связках:\n')
data.head(5)

Данные о книгах:
           1       2       3       4       5       6
ВВЛ  125.54  122.84  129.97  127.26  123.32  130.64
МВЛ  119.88  117.30  124.10  121.51  117.76  124.75
СНГ  122.03  119.41  126.33  123.69  119.87  126.99

Данные о связках:

,День месяца,Время вылета,Связка,Назначение,Тип судна,Тип связи,Налет,Экипаж
0,1,02:55,route 1,city 61,А-320,ВВЛ,10:50,4
1,1,03:55,route 2,city 60,А-320,МВЛ,06:00,4
2,1,04:10,route 3,city 23,А-319,ВВЛ,03:00,3
3,1,04:40,route 4,city 32,А-319,МВЛ,08:35,3
4,1,05:00,route 5,city 8,А-319,ВВЛ,06:15,3

При запуске последовательно откроются два окна `tkinter`. В первом необходимо выбрать алгоритм и сортировку (рекомендуется выбирать A2, S1). Во втором задать веса критериев. По умолчанию все веса равны. Веса автоматически нормируются.

In [29]:
sol = Solver(data, crew) 
print(sol.solve())

Алгоритм сделает 2135 итераций.

____________________________________________________________________________________________________
Шаг #100
Текущее значение целевой функции:	4.03
Прошло времени:	43.62 сек
____________________________________________________________________________________________________
Шаг #200
Текущее значение целевой функции:	3.89
Прошло времени:	81.38 сек
__________________________________________________________________________

KeyboardInterrupt:

In [22]:
identificator = 2
print('Значение целевой функции: {:.2f}'.format(Solver.solutions[identificator][0]))
for book in range(len(Solver.solutions[identificator][1])):
    print('Число связок на {}-ом рабочем столе: {}'.format(book, len(Solver.solutions[identificator][1][book])))

KeyError: 2

In [23]:
s =Solver.formated_solutions

In [28]:
s[1].to_excel('Решение 1.xlsx')

## Рабочая зона Сони

In [1]:
import pandas as pd
import numpy as np
from air_modules import*
from russiya_airlines_report import*

In [2]:
data = pd.read_excel('ID.xls')
data.head()

,День месяца,Время вылета,Связка,Назначение,Тип судна,Тип связи,Налет,Экипаж
0,1,02:55,route 1,city 61,А-320,ВВЛ,10:50,4
1,1,03:55,route 2,city 60,А-320,МВЛ,06:00,4
2,1,04:10,route 3,city 23,А-319,ВВЛ,03:00,3
3,1,04:40,route 4,city 32,А-319,МВЛ,08:35,3
4,1,05:00,route 5,city 8,А-319,ВВЛ,06:15,3

In [3]:
solution = pd.read_excel('Решение 1.xlsx').iloc[1:] #Так надо делать с нашими данными из-за французской нумерации
solution=solution[solution.columns[1:3]].join(solution[solution.columns[4:]]+1).fillna(value=0)

solution.head()

,Связка,Вылет,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
1,route 1,02:55,0,0,0,4,0,3,0,0,...,0,0,0,2,0,6,0,0,0,0
2,route 1,02:55,1,5,5,0,6,0,0,6,...,3,3,4,0,2,0,0,5,4,1
3,route 71,03:10,0,0,0,0,5,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,route 71,03:10,0,0,6,3,0,2,6,0,...,0,0,5,4,0,2,1,0,0,3
5,route 2,03:55,4,5,6,2,3,4,5,3,...,6,4,5,3,3,6,2,6,5,2

In [4]:
t1 = table_round_trip(solution, data)
t1.head()

,ВВЛ: БП,ВВЛ: Связки,МВЛ: БП,МВЛ: СВ,СНГ: БП,СНГ: Связки,Всего связок,Всего носных связок
0,799.0,248.0,309.0,89.0,71.0,21.0,358.0,60.0
1,834.0,258.0,295.0,84.0,77.0,21.0,363.0,62.0
2,769.0,236.0,319.0,91.0,80.0,23.0,350.0,67.0
3,799.0,245.0,305.0,87.0,77.0,22.0,354.0,66.0
4,827.0,256.0,294.0,84.0,70.0,21.0,361.0,58.0

In [5]:
t2 = table_flight_time(solution, data)
t2.head()

,ВВЛ: Планируемый налёт,ВВЛ: Планируемый ночной налёт,МВЛ: Планируемый налёт,МВЛ: Планируемый ночной налёт,СНГ: Планируемый налёт,СНГ: Планируемый ночной налёт
1,1251:50,374:00,593:50,41:02,155:15,69:58
2,1261:25,371:07,544:40,46:20,191:35,103:22
3,1234:35,387:34,602:45,42:41,184:20,87:40
4,1240:45,403:11,573:55,41:53,178:10,89:34
5,1259:35,381:52,539:35,36:08,166:55,80:37

In [6]:
t3 = table_flight_on_direction(solution, data)
t3.head()

           1    2    3    4    5    6   All  delta
city 48  1.0  4.0  3.0  2.0  1.0  2.0  13.0    3.0
city 46  5.0  4.0  6.0  5.0  3.0  4.0  27.0    3.0
city 55  7.0  1.0  4.0  2.0  4.0  4.0  22.0    6.0
city 16  5.0  6.0  5.0  6.0  4.0  5.0  31.0    2.0
city 17  4.0  6.0  5.0  6.0  4.0  6.0  31.0    2.0

In [7]:
t4 = table_flight_on_date(solution, data)
t4.head()

      1     2     3     4     5     6   All  delta
1  15.0   7.0  14.0   9.0   7.0  14.0  66.0    8.0
2   9.0  14.0   9.0  15.0  14.0   7.0  68.0    8.0
3   9.0  12.0  11.0  14.0  12.0  11.0  69.0    5.0
4  12.0  11.0  13.0   9.0  12.0  10.0  67.0    4.0
5  18.0  10.0  11.0   9.0  11.0  11.0  70.0    9.0

In [8]:
t5 = table_flight_on_plane(solution, data)
t5

           1      2      3      4      5      6     All  delta
А-319  254.0  248.0  234.0  236.0  253.0  229.0  1454.0   25.0
А-320  104.0  115.0  116.0  118.0  108.0  120.0   681.0   16.0

Конец файла