In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('ID.xls')
data.head()

,День месяца,Время вылета,Связка,Назначение,Тип судна,Тип связи,Налет,Экипаж
0,1,02:55,route 1,city 61,А-320,ВВЛ,10:50,4
1,1,03:55,route 2,city 60,А-320,МВЛ,06:00,4
2,1,04:10,route 3,city 23,А-319,ВВЛ,03:00,3
3,1,04:40,route 4,city 32,А-319,МВЛ,08:35,3
4,1,05:00,route 5,city 8,А-319,ВВЛ,06:15,3

In [3]:
solution = pd.read_excel('Expert.xls')
solution.head()

,Связка,Вылет,Тип,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,ВС,СБ,ВС,ПН,ВТ,СР,ЧТ,ПТ,...,СБ,ВС,ПН,ВТ,СР,ЧТ,ПТ,СБ,ВС,ПН
1,route 8,05:10,А 320,2,2,5,2,2,3,1,...,6,4,2,6,6,5,2,5,5,3
2,route 28,11:20,А 319,6,4,6,1,5,5,3,...,6,4,1,2,3,4,5,5,5,2
3,route 66,22:45,А 319,5,3,1,4,3,2,1,...,4,3,5,6,4,1,2,3,4,6
4,route 31,11:55,А 319,NaN,NaN,4,3,4,1,5,...,NaN,NaN,4,5,1,2,4,NaN,NaN,1